body{
    overflow-y: hidden;
    overflow-x: hidden;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
  
.g-recaptcha{
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
.g-recaptcha:hover {
    background-color: #45a049;
}
  
#steamLinking {
    position: absolute;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    top: 40%;
    left: 35%;
    width: 30%;
}